*{
    box-sizing: border-box;
    font-size: 10px;
}

/*Body*/

body{
    border: 1px solid black;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
}
 




/*End*/


/* Header*/

header{
    display: flex;
    justify-content: flex-end;
    font-family: 'Akaya Telivigala', cursive;
    margin-top: 15px;
    border: 1px solid red;
}

.header-child{
    display: flex;
    align-items: center;
    margin: 0px 10px;  
    color: rgba(125, 122, 230, 0.3);
}

#h-child-1{
    margin-right: auto;
}

#spacer{
    width: 15%;
    border: 1px solid black;
}

.header-a:hover{
    text-decoration: underline;
}

.h-child-1-p{
    margin: 5px;
}

.header-a{
    text-decoration: none;
}

.header-img:hover{
    box-shadow: 0 0 0 4px rgba(217, 217, 217);
    border-radius: 50%;
}


#h-img-1{
    width: 35px;
    height: 35px;
}

#h-img-2{
    border-radius: 50%;
    width: 37px;
    height: 37px;
}


/*End*/

/*Main*/

.main-container{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 250px;
    margin: 30px auto;
    
}

.main-flex-child{
    margin: 12px auto;
}
 
#google-logo{
    height: 80px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%; 
} 

#google-logo:hover{
   background-color: rgba(125, 122, 230, 0.1);
   border-radius: 50%;
   transition-duration: 0.5s;
}

#m-flex-1,
#m-flex-3{
    width: auto;
}

#m-flex-2{
    width: 70%;
    min-width: 248px;
    border-radius: 20px;
    height: 25px;
    background-color: rgba(125, 122, 230, 0.3);

}

#m-flex-2:hover,
.m-flex-3-child:hover{
    box-shadow: 0 1px 0 1px   rgba(125, 122, 240, 0.3);
    transition-duration: 0.2s;
}


#mag-glass-img{
    width: 10px;
    height:10px;
    position: relative;
    top: 7px;
    left: 15px;
    
}

#m-flex-3{
    display: flex;
    justify-content: center; 
    height: 50%;
    width: 50%;
    min-width: 220px;
}

.m-flex-3-child{
    margin: 0 1%;  
    background-color: rgba(125, 122, 230, 0.3);
    border-radius: 2px;
    padding: 0 10px;
    height: 15px;
    font-size: 8px;
    min-width: 70px;
    border: none;

    
}

/*End*/

/*Footer*/

footer{
    border: 1px solid orange;
    margin-top: auto;
}

.footer-child{
    border: 1px solid black;
}

#f-child-p-1{
    margin-left: 20px;
}

#f-child-2{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    /*need to flex grow or wrap in some way the first and 3rd children to new row 
    when vp too narrow*/

}

.f-child-2-c{
    border: 1px solid red;
}

#f-child-2-c-1,
#f-child-2-c-3{
    display: flex;
}

#f-child-2-c-2{
    
    margin: 0 auto;
}

#tree{
    width: 10px;
    height: 10px;
}


/* #f-child-2-c-1{
    order: 1;
}

#f-child-2-c-3{
    order: 2;
} */

.f-child-a{
    padding: 10px;
}
/*End*/