*{
    box-sizing: border-box;
    font-size: 15px;
}


/* Header*/

header{
    display: flex;
    justify-content: flex-end;
    font-family: 'Akaya Telivigala', cursive;
    margin-top: 15px;
}

.header-child{
    display: flex;
    align-items: center;
    margin: 0px 10px;  
}

#h-child-1{
    margin-right: auto;
}

#spacer{
    width: 15%;
    border: 1px solid black;
}

.header-a:hover{
    text-decoration: underline;
}

.h-child-1-p{
    margin: 5px;
}

.header-a{
    text-decoration: none;
}

.header-img:hover{
    box-shadow: 0 0 0 4px rgba(217, 217, 217);
    border-radius: 50%;
}


#h-img-1{
    width: 35px;
    height: 35px;
}

#h-img-2{
    border-radius: 50%;
    width: 37px;
    height: 37px;
}


/*End*/

/*Main*/

.main-container{
    background-color: blue;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
   
}

.main-flex-child{
    margin: 12px auto;
    border: 1px solid grey;
}

#google-logo{
    height: 80px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
}

#m-flex-1,
#m-flex-3{
    width: auto;
}

#m-flex-2{
    width: 70%;
    border-radius: 20px;
    height: 38px;
}

#mag-glass-img{
    width: 15px;
    height:15px;
    position: relative;
    left: 15px;
    top: 12px;
}

#m-flex-3{
    display: flex;
    justify-content: space-between; 

}

.m-flex-3-child{
    border: 1px solid blue;
    margin: 10px;  
}
/* 
@media screen and (max-width: 480px) {
    body {
      background-color: lightgreen;
    }
  } */

/*End*/