*{
    box-sizing: border-box;
}


/* Header styles*/

header{
    background-color: grey; /*REMOVE LATER*/
    display: flex;
    justify-content: flex-end;
}

.header-child{
    border: 1px solid purple;
    display: flex;
    justify-content: center;
    align-content: center;
}

#h-child-1{
    justify-self: flex-start;
}

/*End*/